root { 
    display: block;
}
* {
    margin: 0;
}
html, body
{
    background-color: white;
    min-height: 100%;
    font-family: Arial;
}
/* Index */
#siteChoices {
    text-align: center;
    width: 100%;
}
#siteChoices tr td {
    width: 25%;
}
/* Template */
#container {
   min-height:100%;
   position:relative;
   background: #383838;
   width: 100%;
   min-width: 1200px;
}
#maintable {
    width: 1170px;
}
#header {
   background: #383838;
   padding:10px;
}
#body {
   padding-bottom:40px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:50px;   /* Height of the footer */
   background: #383838;
   color: white;
}
#leftcolumn {
    width: 17%;
    float: left;
}
#leftmenu, #rightcontent {
    text-align: left;
    border: 1px solid;
    border-radius: 8px;
    padding: 20px;
    background: mintcream;
}
#rightcolumn {
    width: 80%;
}
td ul li ul li ul li a, td ul li ul li a, td ul li a {
    color: #000;
    text-decoration: none;
}
td ul li ul {
    padding-left: 20px;
}
td ul li ul li ul li a:hover {
    color: purple;
    text-decoration: none;
}
td div ul li ul li a:hover {
    color: #2f8be8;
    text-decoration: none;
}
td div ul li a:hover {
    color: red;
    text-decoration: none;
}
#menu {
    width: 1170px;
    text-align: left;
    border-radius: 8px;
    background: mintcream;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}

#content {
    width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    padding-bottom: 10px;
}
#menu,
#menu ul {
    list-style: none;
}
#menu > li {
    float: left;
}
#menu li a {
    display: block;
    height: 40px;
    line-height: 3em;
    padding: 0 1.5em;
    text-decoration: none;
    
}
#menu ul {
    position: absolute;
    display: none;
    z-index: 999;
}
#menu ul li a {
    width: 90px;
    float: left;
}
#menu li:hover ul {
    display: block;
}

#menu {
    font-family: Arial;
    font-size: 14px;
    background: #2f8be8;
}
#menu > li > a {
    color: #fff;
    font-weight: bold;
}
#menu > li:hover > a {
    background: #f09d28;
    color: #000;
}

#menu ul {
    background: #f09d28;
}
#menu ul li a {
    color: #000;
}
#menu ul li:hover a {
    background: #ffc97c;
}


/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */
html,body,div,span,object,iframe,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}