body {
	font-family: sans-serif;
}

#chess_board_wrap {
	width: 324px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

#board {
	border-color: #AAAAAA;
	border-width: 2px;
	border-style: solid;
}

#random {
	float: left;
}

#new_game {
	float: right;
}

#turn_indicator {
	text-align: center;
	margin: 0px auto;
}
#button_wrap {
	width: 320px; 
	margin: 0px auto;
}
#swap_direction {
	float: left;
}
