html {
	background: #EEEEEE;
	font-family: sans-serif;
}
body {
	
}
#content {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background: #CCCCCC;
	padding: 25px;
	border-radius: 10px;
	height: 100%;
	padding-bottom: 35px;
}
#content-header {
	font-size: x-large;
	color: #00008B;
	font-weight: bolder;
}
#linkedIn_Badge {
	float: right;
	padding: 10px;
}
#blurb {
	font-weight: normal;
	font-size: large;
	text-align: justify;
	margin-left: 10%;
	color: #000055;
	background: #FFFFFF;
	padding: 10px;
	border-radius: 5px;
}
