.connectfour {
    width: 50px;
    height: 50px;
}
.piece {
    border-radius: 40px;
    background: white;
    width:40px;
    height:40px;
}
.piece:hover {
    cursor: pointer;
}
.space {
    float: left;
    padding: 2px;
}
.buttonNames {
    text-align: center;
}
#rollpoints:hover #popout {
    display: block;
}
#popout {
    margin-left: 200px;
    display: none;
    position: absolute;
    background-color: lightsteelblue;
    border-radius: 8px;
    border: 1px solid;
    padding: 10px;
}